@tailwind base;
@tailwind components;
@tailwind utilities;

.content-center {
    display: flex;
    justify-content: center;
}

.bg-beige {
    background: #fffbeb;
}

.bg-orange {
    background: #ffe364;
}

.bg-yellow {
    background: #ffefbb;
}